<div class="banner">
    <div class="quote_object">
        <div class="quote_nav">
            <% if user_signed_in? %>
                <div class="share_links">
                    <% unless current_user.twitter.blank? %>
                        <div class="share_container">
                            <i class="fa fa-twitter"></i>
                        </div>
                    <% end %>    
                    <% unless current_user.facebook.blank? %>
                        <div class="share_container">
                            <i class="fa fa-facebook"></i>
                        </div>
                    <% end %>  
                    <% unless current_user.instagram.blank? %>
                        <div class="share_container">
                            <i class="fa fa-instagram"></i>
                        </div>
                    <% end %>  
                    <% unless current_user.pinterest.blank? %>
                        <div class="share_container">
                            <i class="fa fa-pinterest-p"></i>
                        </div>
                    <% end %>  
                </div>
            <% end %>
            <div class="utility_links">
                <%= link_to edit_quote_path(@quote) do %>
                    <i class="fa fa-pencil-square-o"></i>
                    Edit
            <% end %>
            </div>
        </div>
        <p class="quote_body"><%= @quote.body %></p>
        <div class="divider"></div><!-- divides body and author -->
        <h4 class="quote_author"><%= @quote.author %></h4>
        <div class="vote_links">
            <%= link_to like_quote_path(@quote), method: :put, class: "button_vote button_vote_up" do %>
                <i class="fa fa-thumbs-up"></i>
                <%= @quote.get_upvotes.size %>
            <% end %>
            <%= link_to dislike_quote_path(@quote), method: :put, class: "button_vote button_vote_down" do %>
                <i class="fa fa-thumbs-down"></i>
                <%= @quote.get_downvotes.size %>
            <% end %>
        </div>
        <div id="credit">
            <p>Submitted By: <%= "#{@quote.user.firstName} #{@quote.user.lastName}" %></p>
        </div>
    </div>
</div>

<div class="wrapper_skinny">
    <div class="context">
        <p><%= markdown(@quote.context) %></p>
    </div>
</div>

