<div class="banner">
    <div class="quote-show-container">
            <div class="media">
              <div class="media-left media-middle">
              </div>
              <div class="media-body">
                <p class="quote-body"><%= @quote.body %></p>
                <hr class="quote-divider"></hr>
                <h4 class="media-heading"><%= @quote.author %></h4>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <% if @context.nil? %>
            <div class="empty-state-container">
                <div class="alert alert-info">
                    <p>We know nothing about this quote. <br> Please help the community if you do by adding context below.</p>
                </div>
            </div>
            
            <div class="btn-container">
                <%= link_to "Add Context", new_quote_context_path(@quote), class: "btn btn-block" %>
            </div>
            
        <% else %>
            <div class="context">
                <% if user_signed_in? %>
                    <nav class="navbar navbar-default">
                        <button type="button" id="button-utility-link" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#utility-links" aria-expanded="false">
                                <i class="fa fa-chevron-down"></i>
                                Options
                        </button>
                        <div class="collapse navbar-collapse" id="utility-links">
                            <ul class="nav navbar-nav">
                                <li><%= link_to "Edit Quote", edit_quote_path(@quote), class: "btn btn-default" %></li>
                                <li><%= link_to "Edit Context", edit_quote_context_path(@quote, @context), class: "btn btn-default" %></li>
                            </ul>
                        </div>
                    </nav>
                <% end %>
                <%= markdown(@context.body) %>
            </div>
        <% end %>
    </div>
</div>

