<div class="wrapper">
    <div class="quote_object">
        <div class="quote_nav">
            <%= link_to edit_quote_path(@quote) do %>
                <i class="fa fa-pencil-square-o"></i>
                Edit
            <% end %>
        </div>
        <p class="quote_body"><%= @quote.body %></p>
        <div class="divider"></div><!-- divides body and author -->
        <h4 class="quote_author"><%= @quote.author %></h4>
        <div class="vote_links">
            <%= link_to like_quote_path(@quote), method: :put, class: "button_vote button_vote_up" do %>
                <i class="fa fa-thumbs-up"></i>
                <%= @quote.get_upvotes.size %>
            <% end %>
            <%= link_to dislike_quote_path(@quote), method: :put, class: "button_vote button_vote_down" do %>
                <i class="fa fa-thumbs-down"></i>
                <%= @quote.get_downvotes.size %>
            <% end %>
        </div>
    </div>
    
    <div id="context" class="cf">
        <div class="text_space">
            <p>This is where the context will be.</p>
        </div>
    </div>
</div>

